.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 90vh);
  overflow: hidden;
  position: fixed;
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 150, 136, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
  gap: 2vw;
  align-items: center;
  width: 50%;
  color: white;
  font-size: 22px;
  cursor: pointer;
  padding-left: 20px;
}

.navbar-items a {
  text-decoration: none;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  font-size: 30px;
  padding-right: 50px;
  color: white;
}

@keyframes expandContract {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background: #fff;
  animation: expandContract 2s infinite;
}
