<div class="cont-pr">
  <div class="cont-perfil">
    <div class="cont-left">
      <div class="left-items">
        <img src="{{ user.photo }}" alt="" />
        <h3>{{ user.name }} {{ user.last_name }}</h3>
      </div>
      <div class="datos-usuario">
        <div class="columna-titulos">
          <p>Nombre</p>
          <p>Apellido</p>
          <p>Correo</p>
        </div>
        <div class="columna-valores">
          <p>{{ user.name }}</p>
          <p>{{ user.last_name }}</p>
          <p>{{ user.email }}</p>
        </div>
      </div>
    </div>
    <div class="cont-right">
      <div class="right-items">
        <h1>Editar datos</h1>
        <div class="campo-editar">
          <form>
            <ul>
              <li>
                <label for="Nombre"></label>
                <input type="text" #nvNombre placeholder="Nombre" name="name" />
              </li>
              <li>
                <label for="Apellido"></label>
                <input
                  type="text"
                  #nvApellido
                  placeholder="Apellido"
                  name="last_name"
                />
              </li>
              <li>
                <label for="Correo"></label>
                <input
                  type="email"
                  #nvEmail
                  placeholder="Correo"
                  name="email"
                />
              </li>
              <li>
                <label for="Url"></label>
                <input type="url" #nvUrl placeholder="URL" name="photo" />
              </li>
            </ul>
            <button
              type="button"
              (click)="enviar(nvNombre, nvApellido, nvEmail, nvUrl)"
            >
              Modificar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
