<div class="cont-pr">
  <div class="cont-perfil">
    <div class="cont-left">
      <div class="left-items">
        <img [src]="user?.userData?.photo" alt="" />
        <h3>
          {{ user?.userData?.first_name }} {{ user?.userData?.last_name }}
        </h3>
      </div>
      <div class="datos-usuario">
        <div class="columna-titulos">
          <p>Nombre</p>
          <p>Apellido</p>
          <p>Correo</p>
        </div>
        <div class="columna-valores">
          <p>{{ user?.userData?.first_name }}</p>
          <p>{{ user?.userData?.last_name }}</p>
          <p>{{ user?.userData?.email }}</p>
        </div>
      </div>
    </div>
    <div class="cont-right">
      <div class="right-items">
        <h1>Editar datos</h1>
        <div class="campo-editar">
          <form #modifyForm="ngForm" (ngSubmit)="onSubmit(modifyForm.value)">
            <ul>
              <li>
                <label for="Nombre"></label>
                <input
                  type="text"
                  placeholder="Nombre"
                  name="first_name"
                  [(ngModel)]="formData.first_name"
                />
              </li>
              <li>
                <label for="Apellido"></label>
                <input
                  type="text"
                  placeholder="Apellido"
                  name="last_name"
                  [(ngModel)]="formData.last_name"
                />
              </li>
              <li>
                <label for="Correo"></label>
                <input
                  type="email"
                  placeholder="Correo"
                  name="email"
                  [(ngModel)]="formData.email"
                />
              </li>
              <li>
                <label for="Url"></label>
                <input
                  type="url"
                  placeholder="URL"
                  name="photo"
                  [(ngModel)]="formData.photo"
                />
              </li>
            </ul>
            <button type="submit">Modificar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
