<div class="cont-pagina">
  <input
    class="buscador"
    (input)="getBookById($event.target.value)"
    placeholder="Search by ID"
  />

  <div
    *ngIf="bookService.filteredBooks.length; else noBooksAlert"
    class="cont-pr"
  >
    <app-card
      *ngFor="let libro of bookService.filteredBooks; let i = index"
      [book]="libro"
      [index]="i"
      (delete)="deleteBook(i)"
    ></app-card>
  </div>

  <ng-template #noBooksAlert>
    <div class="alert alert-warning">There are no books.</div>
  </ng-template>
</div>
