.buscador {
  margin-top: 40px;
  background-color: rgba(73, 77, 95, 0.85);
  border: 2px solid green;
  height: 5vh;
  width: 25vw;
  color: white;
  margin-bottom: 5vh;
}

.cont-pagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url(https://www.gamewallpapers.com/img_script/wallpaper_dir/img.php?src=wallpaper_nostos_03_2560x1080.jpg&height=506&sharpen);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont-pr {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  border: 2px solid rgba(73, 77, 95, 0.85);
  background-color: rgba(73, 77, 95, 0.85);
  gap: 30px;
  margin-bottom: 50px;
}

.book-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 45vw;
  height: 60vh;
  color: black;
}

.card {
  display: flex;
  flex-direction: column;
}

#noBookAlert {
  display: flex;
  width: 400px;
  height: 400px;
  justify-content: center;
  align-items: center;
}
