<div class="cont-pagina">
  <input class="buscador" [(ngModel)]="searchTerm" (input)="searchBooks()" />
  <div *ngIf="books.length >= 1; else noBooksAlert" class="cont-pr">
    <div class="book-container">
      <app-card
        *ngFor="let libro of books; let i = index"
        [book]="libro"
        [index]="i"
        (delete)="deleteBook(i)"
      ></app-card>
    </div>
  </div>

  <ng-template #noBooksAlert>
    <div class="alert alert-warning">There are no books.</div>
  </ng-template>
</div>
