<div class="cont-pr">
  <div class="cont-form">
    <h1>Inserta tus nuevos libros aquí</h1>
    <form [formGroup]="form" (ngSubmit)="addBook()">
      <ul>
        <label for="titulo">Titulo</label>
        <li>
          <input type="text" formControlName="title" required />
        </li>
        <label for="tipo">Tipo</label>
        <li>
          <select formControlName="b_type" required>
            <option value="">Select a type</option>
            <option value="Tapa Blanda">Tapa Blanda</option>
            <option value="Tapa Dura">Tapa Dura</option>
          </select>
        </li>
        <label for="autor">Autor</label>
        <li>
          <input type="text" formControlName="autor" required />
        </li>
        <label for="precio">Precio</label>
        <li>
          <input type="number" formControlName="price" required />
        </li>
        <label for="photo">Photo URL</label>
        <li>
          <input type="url" formControlName="photo" required />
        </li>
        <li>
          <button
            id="btn_guardar_libro"
            type="submit"
            [disabled]="form.invalid"
          >
            Guardar Nuevo Libro
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
