<div class="cont-form">
  <div class="form-items">
    <h1>Registrate</h1>
    <form action="" method="post">
      <ul>
        <li>
          <input type="text" placeholder="Nombre" />
        </li>
        <li>
          <input type="text" placeholder="Apellido" />
        </li>
        <li>
          <input type="email" placeholder="Correo" />
        </li>
        <li>
          <input type="password" placeholder="Contraseña" />
        </li>
        <button type="submit">Registrarse</button>
      </ul>
    </form>
  </div>
</div>
