/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Muli";
}

html,
body {
  min-height: 100vh;
}

/* .toast-message {
  position: fixed !important;
  top: 5% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  margin-top: auto;
}

.toast-title {
  position: fixed !important;
  top: 10% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
} */
